.content-image{
    text-align: center; 
    width: 100%; 
    background-color: #fdfdfdc0;
 }
 .content-image img{
    margin: 0 auto;
 }

 .product-image {
    width: 100%;  
    height: 500;
    background: url(images/iphone_x_medium.jpg) no-repeat  center bottom ;
    
}